# TASKS 1

In [2]:
# 1. Take two numbers as input and print their sum.

In [3]:
a = int(input("Enter first number:"))
b = int(input("Enter second numbers:"))

sum = a + b
print (sum)

In [4]:
# 2. Take a float number from their user and print.

In [5]:
a = float(input("Enter a float number:"))
print = ("Your float number is:",a)

In [6]:
# 3. Take your age is input and print how many years are left to reach 100.

In [7]:
age = int(input("Enter your age: "))
left = 100-age
print(f"You have{left} years left to reach 100!")

Enter your age:  20

You have80 years left to reach 100!

In [8]:
# 4. Ask the user for their first and last name and print full name.

In [28]:
First_name = input("Enter your First name: ")
Last_name  = input("Enter your Last name : ")
Full_name  = First_name +" "+ Last_name
print(f"Your full name is :  {Full_name}" )

Enter your First name:  Azhar
Enter your Last name :  Aftab

Your full name is :  Azhar Aftab

In [10]:
# 5. Take radius as input (float) and print the area of the circle using Area = pier2. Use pie = 3.14

In [11]:
# 6. Take and number and multiply it with 2 and print their product.

In [30]:
a = int(input("Enter a number"))
b = a * 2
print(b)

Enter a number 2

4

In [13]:
# 7. Input a math expression as string and evalute it. Example input: 5+6*2

In [36]:
expression=input("Enter a math expression")
result=eval(expression)
print("Results:",result)

Enter a math expression 5/2+2

Results: 4.5

In [38]:
# 8. Take a string input representing a number,convert it to int, and add 10 to it.

In [52]:
num_str = int(input("Enter a number"))
result =(num_str + 10)
print("result after adding =",result )

Enter a number 10

result after adding = 20

In [54]:
# Take a float as input,convert it to iteger and point both values.

In [56]:
num = float(input("Enter a float value"))
num_1 = int(num)
print(num_1)

Enter a float value 5.2

5

In [58]:
# Ask the user for thier name and print welcome.

In [60]:
name= input("What is your name")
print("Welcome",name)

What is your name Sahil

Welcome Sahil