# Task_2

In [2]:
# 1. Add and Print the result
# - input a = 12, b = 5

In [4]:
a = 12
b = 5
sum = a+b
# print (sum

17

In [6]:
# 2. Multiply x*y and then subtract y
# - input a = 10, y = 3

In [10]:
a = 10
y = 3
multiply = a*y
Result = multiply-y
print("total value =", Result)

total value = 27

In [12]:
# 3. Check & print the datatype of x if x is true

In [20]:
x = 6
if x:
    print("Datatype of x is:", type(x))

Datatype of x is: <class 'int'>

In [22]:
# 4. Find remainder when one number is divided by another where one number is 17 and the other is 4.

In [26]:
Remainder = 17%4
print(Remainder)

1

<!-- 5. Multiply 3 numbers, subtract last where 2,3 and 4 are the numbers. -->

In [36]:
First = 2*3*4
Result = First-4
print(Result)

20

In [38]:
# 6. Form a number from a digits 5,6,9

In [40]:
number = 5,6,9
print(number)

(5, 6, 9)

In [42]:
8. Find the diff between two integers.
input   a=10,b=25

In [44]:
a = 10
b = 25
diff = b-a
print("The Difference Number is:",diff)

The Difference Number is: 15

In [46]:
# 9. Add 1 to a given number 99.

In [54]:
a = 1
print("Total",a + 99)

Total 100

In [56]:
# 10. Multiply a number by 10 and subtract 5,where number is 6.

In [60]:
a = 10*6
result = a - 5
print("The Result is:",result)

The Result is: 55

In [62]:
# 11. Add two float numbers 1.234 and 2.456

In [66]:
first_float = 1.234
second_float = 2.456
print('Total float numbers is:',first_float+second_float)

Total float numbers is: 3.69

In [68]:
# 12. calculate the area of circle with radius 2.5 & pi = 3.14.

In [102]:
Area=3.14*2.5**2
print("The Total area of circle is:",Area)

The Total area of circle is: 19.625

In [80]:
# 13. Multiply a float 2.5 with largest int 1000.

In [84]:
float = 2.5
int = 1000
print("the product is: ", float*int)

the product is:  2500.0

In [86]:
# 14. Add float 2.5 with a int 5. What is the output?

In [88]:
Float = 2.5
int = 5
sum = Float+int
print(sum)

7.5

In [90]:
# 15. Calculate Avg value of three float value 2.5,3.5 and7.0.

In [92]:
a = 2.5
b = 3.5
c = 7.0
Avg = (a + b+ c)/3
print("The Average value of three float number is:", Avg)

The Average value of three float number is: 4.333333333333333

In [94]:
# 16. given two variables 5 and 8.0 check their data type.

In [96]:
A = 5
B = 8.0
print("DataType of A is :",type(A))
print("DataType of B is :",type(B))

DataType of A is : <class 'int'>
DataType of B is : <class 'float'>

In [98]:
# 17. Multiply an integer 4 with float 2.0.

In [100]:
Int = 4
Float = 2.0
multiply = 4*2.0
print("Total value of multiply:",multiply )

Total value of multiply: 8.0

In [104]:
# 18. Check type before and after dividing it by 2 where number is 5

In [110]:
num = 5

# Before division
print("Before division, type of num:", type(num))

# Divide by 2
result = num / 2

# After division
print("After division, type of result:", type(result))

Before division, type of num: <class 'int'>
After division, type of result: <class 'float'>

In [112]:
# 19. Check the boolean value of x where x is 20

In [116]:
x = 20
print("The Boolean of x is:",bool(x))

The Boolean of x is: True

In [118]:
# 20. Check the boolean value of x where x is 0

In [120]:
x = 0
print("The Boolean of x is:",bool(x))

The Boolean of x is: False