# Task 4 List DataType

In [3]:
# 1. Give the list numbers =[10,20,30,40,50] print second & fourth element of the list

In [13]:
num= [10,20,30,40,50]
result1=num[1]
result2=num[2]
print(result1)
print(result2)

20
30

In [15]:
# 2. Given the list of number =[1,2,3,4,10,9,8,4], print the last three number usind slicing.

In [31]:
num=[1,2,3,4,10,9,8,4]
print(num[5:8])

[9, 8, 4]

In [33]:
# 3. Create a list of number and print both the max and min values in the list using the max() and min() functions?

In [41]:
l= [1,2,3,4,5,6,7,8,9]
result1=max(l)
result2=min(l)
print(result1,result2)

9 1

In [43]:
# 4.Create a list of letter, sort them and print the list oin reverse order?

In [51]:
l= ['d','b','e','t','g','o','a']
l.sort()
print(l)
l.sort(reverse= True)
print(l)

['a', 'b', 'd', 'e', 'g', 'o', 't']
['t', 'o', 'g', 'e', 'd', 'b', 'a']

In [53]:
# 5. Create a list of string and count how many times a specefic string appears in the list using the count() method?

In [61]:
l=['apple','banana','apple','orange','onion','mango','mango','mango']
print(l.count('mango'))

3

In [63]:
#6. Create a list of colors.change the first the color of the list and vice-versa,print the updated list?

In [67]:
a= ['red','orange','yellow','blue','white']
a[0],a[-1]=a[-1],a[0]
print(a)

['white', 'orange', 'yellow', 'blue', 'red']

In [69]:
# 7. write a code for getting "hello" as output from the given list ?
# l=[25,30[26,27,28,'Hello'],[32,38]]

In [75]:
l=[25,30,[26,27,28,'Hello'],[32,38]]
print(l[2][3])

Hello

In [79]:
# 8. For the above given list replace 27 with 43

In [85]:
# The .replace() method does not exist for python list[] 
# Its a method for string not list that's why python will throw an attribute error.

In [89]:
# 9. Insert a value 'True' at last second position.

In [95]:
l= [10,20,30,40,50]
l.insert(-1,True)
print(l)

[10, 20, 30, 40, True, 50]

In [97]:
# 10. write a python program to merge to sorted lists into a single sorted list.

In [99]:
a=[1,2,3,4,5]
b=[6,7,8,9,10]
print(a+b)

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [101]:
# 11. Create an empty list and ask user to enter thier fav fruits to the empty list using append method.

In [103]:
fruits=[]