# TUPLE

In [3]:
# 1. print the third element from a tuple. (10,20,30,40,50)

In [7]:
t= (10,20,30,40,50)
print(t[2])

30

In [9]:
# 2. Print the last three elements of tuple.
# t= (5,10,15,20,25,30)

In [17]:
t= (5,10,15,20,25,30)
print(t[3::])

(20, 25, 30)

In [19]:
# 3. Join two tuples together.
# a=(1,2,3)
# b=(4,5,6)

In [21]:
a=(1,2,3)
b=(4,5,6)
print(a+b)

(1, 2, 3, 4, 5, 6)

In [23]:
# 4. Repeat a tuples three time.
# t= (7,8)

In [25]:
t= (7,8)
print(t*3)

(7, 8, 7, 8, 7, 8)

In [27]:
# 5. check if 15 is present in the tuple.
# t= (5,10,15,20,25,30)

In [47]:
t= (5,10,15,20,25,30)
if 15 in t:
    print("Yes 15 is present in the tuple")
else:    
    print("No 15 is not present in the tuple")

Yes 15 is present in the tuple

In [49]:
# 6. Find how many elemnt are in the tuple
# t=(1,2,3,4,5,6,7,8,9)

In [57]:
t=(1,2,3,4,5,6,7,8,9)
print(len(t))

9

In [61]:
# 7. Find the index of 50 in this tuple.
# t= (10,20,30,40,50,60)

In [63]:
t= (10,20,30,40,50,60)
print(t.index(50))

4

In [65]:
# 8. count how many times 2 appear
# t= (2,4,2,6,2,8)

In [71]:
t= (2,4,2,6,2,8)
print(t.count(2))

3

In [73]:
# 9. swap first and last element of tuple.
# t=(1,2,3,4,5,6)

In [81]:
t = (1, 2, 3, 4, 5, 6)

# Convert to list
t = list(t)

# Swap first and last
t[0], t[-1] = t[-1], t[0]

# Convert back to tuple
t = tuple(t)

print(t)

(6, 2, 3, 4, 5, 1)

In [83]:
# 10. Reverse all element.
# t= (10,20,30,40,50,60)

In [85]:
t= (10,20,30,40,50,60)
print(t[::-1])

(60, 50, 40, 30, 20, 10)

In [89]:
# 11. Find the max value without to a list.
# t=(15,6,89,34)

In [97]:
t=(15,6,89,34)
print(max(t))

89

In [99]:
# 12. Find the min value without to a list
# t=(15,6,89,34)

In [103]:
t=(15,6,89,34)
print(min(t))

6

In [105]:
# 13.Create a tuple with one element

In [107]:
t=(5,)
print(type(t))

<class 'tuple'>

In [109]:
# 14. Assign each element of tupple to different variable
# t=(100,200,300)

In [113]:
t=(100,200,300)
z= a,b,c
print(z)

(100, 200, 300)

In [115]:
# 15.Get every second element from the tupple.
# t= (10,20,30,40,50,60)

In [125]:
t= (10,20,30,40,50,60)
print(t[1::2])

(20, 40, 60)

In [127]:
# 16. Find the max and min element
# input:(4,6,2,9,1)

In [129]:
t=(4,6,2,9,1)
print(max(t))
print(min(t))

9
1

In [131]:
# 17. Replace first element By 99 creating new tuple.
# t=(9,8,7)

In [137]:
t=(9,8,7)
print(t.replace())

AttributeError: 'tuple' object has no attribute 'replace'

In [139]:
# 18.Join two tuple a & b with a value x in between
# a=1,2
# b=4,5
# c=9

In [151]:
a=(1,2)
b=(4,5)
c=(9,)

result=a+c+b


print(result)

(1, 2, 9, 4, 5)

In [153]:
# 19. Find the index of 15 
# t= (5,10,15,20,25,30)

In [155]:
t= (5,10,15,20,25,30)
print(t.index(15))

2

In [157]:
# 20.Count how many times 2 appears.
# t= (1,3,5,7)

In [159]:
t= (1,3,5,7)
print(t.count(2))

0

In [161]:
# 21. Find index of 11 input (1,3,5,7,9,11,13,15,17)

In [163]:
t= (1,3,5,7,9,11,13,15,17)
print(t.index(11))

5

In [167]:
# 22.Access the no. 4, t=((1,2),(3,4))

In [172]:
t=((1,4),(3,4))
print(t[1][1])

4

In [174]:
# 23. To a tuple of list add 99. input=(10,20,30,60)

In [2]:
a=(10,20,30,60)
b=list(a)
print(b)
b.append(99)
print(b)
print(tuple(b))

[10, 20, 30, 60]
[10, 20, 30, 60, 99]
(10, 20, 30, 60, 99)

In [4]:
# 24. Access Char "c" From Tuple of string
# t=(["dog","cat"])

In [8]:
t=(["dog","cat"])
print(t[1][0])

c

In [10]:
# 25. From((10,20,30,40,50,60)) to get (20,30,40)

In [22]:
t= (10,20,30,40,50,60)
print("To get =",t[1:4])

To get = (20, 30, 40)

In [24]:
# 26. Access last value 9 from the nested tuple ((5,6),(7,8,9))

In [30]:
t= ((5,6),(7,8,9))
print(t[1][2])

9

In [32]:
# 27. sort element from the tupple (3,5,8,2,7,1,6,4)

In [64]:
t=(3,5,8,2,7,1,6,4)
l=list(t)
print(l)
l.sort()
print(tuple(l))

[3, 5, 8, 2, 7, 1, 6, 4]
(1, 2, 3, 4, 5, 6, 7, 8)

In [66]:
# 28. reverse a tuple(10,20,60,30,90)

In [68]:
t=(10,20,60,30,90)
print(t[::-1])

(90, 30, 60, 20, 10)

In [70]:
# 29.Extract first 3 numbers from the tuple(1,2,3,4,5,6,7)

In [72]:
t=(1,2,3,4,5,6,7)
print(t[0:3])

(1, 2, 3)

In [74]:
# 30. Get third element from the tuple (10,20,30,50,60,70)

In [78]:
t= (10,20,30,50,60,70)
print(t[2])

30